HOST_NAME=cerberus
PUBLIC_FQDN=cerberus.raulcorreia.dev
PUBLIC_IP=
TAILNET_DOMAIN=tailnet.cerberus.raulcorreia.dev
TZ=Europe/Amsterdam
EDGE_NETWORK=edge

# Optional: keep this set if you want a stable Headplane cookie secret.
# HEADPLANE_COOKIE_SECRET=
