HOST_NAME=athena
HOME_DOMAIN=home.arpa
TZ=Europe/Amsterdam

# Current infra role
ATHENA_TAILSCALE_LXC_NAME=tailscale
ATHENA_TAILSCALE_SUBNET=192.168.100.0/24

# Planned Docker VM app host
DAEDALUS_VM_NAME=daedalus
DAEDALUS_VM_CPU=4
DAEDALUS_VM_RAM_MIB=10240
DAEDALUS_VM_DISK_GIB=64
